<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_nhan_su_root"   name="Nhân sự (HRM)"            sequence="1"/>
        <menuitem id="menu_nhan_vien"      name="Nhân viên"                 parent="menu_nhan_su_root" sequence="1" action="action_nhan_vien"/>
        <menuitem id="menu_danh_muc_hrm"   name="Danh mục"                  parent="menu_nhan_su_root" sequence="10"/>
        <menuitem id="menu_don_vi"         name="Đơn vị / Phòng ban"        parent="menu_danh_muc_hrm"  sequence="1" action="action_don_vi"/>
        <menuitem id="menu_chuc_vu"        name="Chức vụ"                   parent="menu_danh_muc_hrm"  sequence="2" action="action_chuc_vu"/>
        <menuitem id="menu_chung_chi"      name="Chứng chỉ / Bằng cấp"     parent="menu_danh_muc_hrm"  sequence="3" action="action_chung_chi_bang_cap"/>
        <menuitem id="menu_lich_su_ct"     name="Lịch sử công tác"          parent="menu_nhan_su_root" sequence="5" action="action_lich_su_cong_tac"/>
    </data>
</odoo>
